.list{
    background-color: whitesmoke;
    color: #616161;

    .tableCell{
        background-color: whitesmoke;
        color: #616161;

        .cellWrapper{
            display: flex;
            align-items: center;

            .image{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
        }
    }
}