/* src/components/DailyIncomeReport.css */
.income-report-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;

    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .income-report-table thead tr {
    background-color: #616161;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    
    
  }
  
  .income-report-table th,
  .income-report-table td {
    padding: 7px 70px;
  }
  
  .income-report-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .income-report-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .income-report-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .income-report-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }
  